@page "/Account/Login"
@model Secure.Web.Pages.Acount.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <label>Username:</label>
    <select asp-for="Username">
        <option value="user1">User 1</option>
        <option value="admin1">Admin 1</option>
    </select>
    <button type="submit">Login</button>
</form>